<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <app-sidebar-cmp></app-sidebar-cmp>
  </div>

  <div class="main-panel">
    <app-navbar-cmp></app-navbar-cmp>

    <div class="content">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Shell</h2>
        </div>
        <div class="card-body">
          <h6>Angular Version: {{ ngVersion }}</h6>
          <h6>Architecture: App Shell</h6>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>

    <footer></footer>
  </div>
</div>
